<!DOCTYPE html>
<html lang="en">
<head>
    <title>Moonstone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a href="../" class="navbar-brand">MoonStone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="container">
    <div class="mt-5">
        <hr>
    </div>
    <div class="row">
        <div class="col-lg-12 ">
            <div class="card h-100">
                <div class="card-header">
                    <div class="form-inline my-2 my-lg-0 float-right">
                        <div class="input-group">
                            <input class="form-control" id="text" type="search" placeholder="Search">
                            <div class="input-group-append">
                                <button id="trigger-search" type="button" class="input-group-text btn btn-sm btn-outline-light">Search</button>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="display-tree" class="btn btn-sm btn-outline-light">Display Tree</button>
                </div>
                <div class="card-body p-0" id="tree-structure">
                   <div class="row">
                       <div class="col-md-12">
                           <p class="text-center">Please click button to display tree</p>
                       </div>
                   </div>
                </div>
            </div>

        </div>

    </div>

</div>


<script>
</script>
</body>
<script src="{{ asset('/js/app.js') }}"></script>

</html>
