<div class="just-padding">
    <div class="list-group list-group-root well">
        {% for child in children %}
            {% set randomId = 'ansestor-' ~ child.id ~ '-' ~ child.pef_item_id ~ random(1000) %}
            <a href="#item-{{ randomId }}" class="list-group-item" data-toggle="collapse">
                {{ loop.index }}. <i class="glyphicon glyphicon-chevron-right"></i>{{ child.name }}
                {% if child.children|length %}
                    <span class="badge badge-info float-right">{{ child.children|length }}</span>
                {% endif %}
            </a>
            {% if child.children|length %}
                <div class="ml-5 list-group collapse border-left border-light" id="item-{{ randomId }}">
                    {% include'partial' with { 'children' : child.children} %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>